.wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.top {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
}

.search {
  position: relative;
  display: block;
  padding-bottom: 20px;
  border-bottom: 1px dashed var(--bdr12);
}

.icon {
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 12px;
  opacity: 0.7;
}

.icon svg {
  width: 22px;
  height: 22px;
  fill: var(--txt12);
}

.icon:hover svg {
  fill: var(--txt11);
}

.icon.search_icon {
  left: 10px;
}
.icon.close_icon {
  right: 10px;
  display: none;
}

input.input {
  padding-left: 42px;
  padding-right: 42px;
  width: 100%;
  height: auto;
  display: block;
  color: var(--txt11);
  background-color: var(--bg12);
  line-height: 45px;
  border-radius: 10px;
}

.content {
  overflow: hidden;
  min-height: calc(100vh - 170px);
  max-height: calc(100vh - 170px);
  position: relative;
  width: 100%;
}

.category {
  overflow: hidden;
  padding-left: 15px;
  padding-right: 10px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--bg11);
}
.category:nth-of-type(2) {
  z-index: 3;
}

.category * {
  position: static !important;
}

.title {
  margin-bottom: 10px;
}

.title h2 {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  color: var(--txt11);
}

.lists {
  overflow: hidden;
  width: 100%;
  position: relative;
  padding-bottom: 0;
  padding-right: 0;
}
.cat_item {
  width: 100%;
}
.sub_item {
  // padding-left: 20px;
}

.list {
  display: block;
  width: calc(100% - 30px);
  color: var(--txt11);
  line-height: 1.6;
  font-size: 15px;
  margin-bottom: 0;
  cursor: pointer;
  padding: 6px 0;
}
.list::before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #777;
  position: absolute;
  left: -8px;
  top: 16px;
}
.list .icon {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
}

.list:hover,
.list:focus {
  //transform: scale(1.05);
  //z-index: 1;
  //box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 -10px 10px -5px rgba(0, 0, 0, 0.04);
  color: var(--txt11);
}

.list.active {
  /*border: 1px solid var(--clr11);*/
}

// .list a {
//   display: block;
// }

.name {
  display: block;
}

.name span {
  display: block;
  color: var(--txt11);
}

.name span:nth-child(2) {
  font-size: 12px;
  opacity: 0.6;
}

.root {
  font-weight: bold;
}
.parent {
  width: calc(100% - 6px);
}
.active,
.active:hover,
.active:focus {
  color: var(--main-color);
}

.acc_root {
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent !important;
}
.acc_root::before {
  display: none;
}
.acc_root.acc_expanded {
}
.summary_root {
  height: auto !important;
  min-height: unset !important;
  padding: 0 !important;
  align-items: flex-start !important;
}
.summary_expanded {
  height: auto !important;
  min-height: unset !important;
  border-bottom: none !important;
}
.summary_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 0;
}
.summary_expanded .summary_icon {
  padding-bottom: 6px;
  padding-top: 0;
}
.summary_icon svg {
  color: var(--sidebar-icon-color);
}
.summary_content {
  margin: 0 !important;
}
.detail_root {
  padding: 0 !important;
  margin: 0;
  width: 100%;
  display: block !important;
  border-left: 1px solid var(--bdr11);
  padding-left: 20px !important;
}
.detail_expanded {
  color: inherit;
}
