.wrapper {
  display: block;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  background-color: var(--bg11);
}

.content {
  width: 100%;
  padding-bottom: 0;
}

.title {
  background-color: var(--bg12);
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title_text {
  color: var(--txt11);
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
}

.items {
  display: block;
}

.item {
  display: block;
  padding-bottom: 24px;
}
.item:last-child {
  padding-bottom: 0;
}

.quran_content p {
  margin-bottom: 20px;
}

.quran_content_title {
  color: var(--txt00);
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}

.quran_content_text {
  font-family: Roboto;
  color: var(--txt11);
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}

.no_record {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    display: flex;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    background-color: transparent;
    height: 100%;
  }
  .content {
    padding: 12px 32px;
    border-radius: 8px;
    background: var(--bg11);
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }

  .title {
    margin-bottom: 40px;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 14px;
  }

  .title_icon svg {
    width: 22px;
    height: 22px;
    fill: var(--txt11);
  }

  .title_text {
    color: var(--txt11);
    font-size: 25px;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0;
  }

  .card {
  }
}

.print_footer {
  display: none;
}

// print option
@media print {
  .chapter_tab {
    background-color: #fff;
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    background: var(--bg12);
    padding: 8px;
    border-radius: 8px;
    text-align: center;
  }
  .title_text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: var(--txt11);
  }

  .print_footer {
    border-top: 1px solid var(--bdr11);
    margin-top: 30px;
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .print_footer span {
    font-size: 13px;
    color: #777;
  }
  .print_footer span:nth-child(1) {
  }
  .print_footer span:nth-child(2) {
  }
}
