.wrapper {
  margin: 1.5rem 0;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
  transition: box-shadow 0.2s ease;
  color: #111;
}
.wrapper:hover {
  box-shadow: 0 6px 12px rgb(0 0 0 / 10%);
}
.title {
  border-bottom: 1px dotted;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px;
  border: none;
  transition: color 0.2s ease;
  font-size: 16px;
  font-weight: 600;
  color: #111;
  margin-top: 0;
  margin-bottom: 4px;
}

.wrapper h1 {
  font-size: 30px;
}
.wrapper h2 {
  font-size: 8px;
}
.wrapper h3 {
  font-size: 20px;
}
.wrapper h4 {
  font-size: 16px;
}
.wrapper h5 {
  font-size: 12px;
}
